.pagination {
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.pagination .pagination-current,
.pagination .pagination-prev,
.pagination .pagination-next {
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: monospace;
}

.pagination-current {
    
}

.pagination-ellipsis {
    font-weight: bold;
    font-size: 20px;
}
